@{Layout = "~/views/Shared/_Layout.cshtml";}

<body>

    <table class="table table-light table-bordered" width="100%" height="80%">
        <tr>
            <td>
                <div style="top:0px; border:1px solid red;">
                    <table border="0" align="center">
                        <tr height="100%">
                            <td height="70%" width="50%" valign="middle" align="center">
                                <h1>WELCOME TO FAMILY CLINIC </h1><br /> <h3>Your Health is Paramount to us</h3>
                                <br />
                                <h5>Doctor Creation Application</h5>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>



</body>
